<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/comment.js}"></script>

<head th:replace="fragments/header :: header" />
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <div class="form-group">
    <label th:for="title">제목</label>
    <text th:text="${post.get().getTitle()}"></text>

  </div>

  <div class="form-group">
    <label th:for="content">내용</label>
    <text th:text="${post.get().getContent()}">
    </text>
  </div>

  <form type="form" th:action="@{/post/{id}/comment (id = ${post.get().getId()})}" method="post">
    <input hidden="hidden" id="memberId" name="memberId" th:text="${member.get().getNickname()}" th:value="${member.get().getId()}"/>
    <input hidden="hidden" id="postId" name="postId" th:value="${post.get().getId()}"/>
    <input type="text" id="content" name="content">
    <button type="submit" class="btn btn-primary">작성</button>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>작성자</th>
        <th>내용</th>
        <th>작성일시</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="comment : ${comment}">
        <td th:text="${comment.get(commentStat.index).getMemberId().getNickname()}"></td>
        <td th:field="${comment.get(commentStat.index).getId()}" th:text="${comment.get(commentStat.index).getComment()}"></td>
        <td th:text="${comment.get(commentStat.index).getLocalDateTime()}"></td>

<!--        <th:block th:if="${isMe} == ${comment.getMemberId()}">-->
<!--          <td><button class="btn btn-primary" >수정</button></td>-->
<!--          <td>-->
<!--&lt;!&ndash;            <form th:action="@{/comment/{id}/delete (id = ${comment.getId()})}" method="post">&ndash;&gt;-->
<!--              <button class="btn btn-primary" th:id="${comment.getId()}" onclick="deleteComment(this.id)">삭제</button>-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--          </td>-->
<!--        </th:block>-->

      </tr>
    </tbody>
  </table>

    <br/>
    <div th:replace="fragments/footer :: footer"/>
  </tr>
  </tbody>
</div> <!-- /container -->
</body>
</html>