<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/comment.js}"></script>

<head th:replace="fragments/header :: header" />
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <div class="form-group">
    <label th:for="title">제목</label>
    <input type="text" class="form-control" th:value="${post.get().getTitle()}" readonly >
  </div>

  <div class="form-group">
    <label th:for="title">내용</label>
    <input type="textarea" class="form-control" th:value="${post.get().getContent()}" readonly>
  </div>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>작성자</th>
        <th>내용</th>
        <th>작성일시</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="comment : ${comment}">
        <td th:text="${comment.getMemberId().getNickname()}"></td>
        <td th:field="${comment.getId()}" th:text="${comment.getComment()}"></td>
        <td th:text="${comment.getLocalDateTime()}"></td>

        <th:block th:if="${isMe} == ${comment.getMemberId().getId()}">
          <td><button class="btn btn-primary" >수정</button></td>
          <td>
            <form th:action="@{/comment/{id}/delete (id = ${comment.getId()})}" method="post">
              <button class="btn btn-primary" th:id="${comment.getId()}">삭제</button>
            </form>
          </td>
        </th:block>

      </tr>
    </tbody>
  </table>

  <div class="contentContainer">
  <form type="form" th:action="@{/post/{id}/comment (id = ${post.get().getId()})}" method="post">
    <input hidden="hidden" id="memberId" name="memberId" th:text="${member.get().getNickname()}" th:value="${member.get().getId()}"/>
    <input hidden="hidden" id="postId" name="postId" th:value="${post.get().getId()}"/>
    <input type="text" id="content" name="content">
    <button type="submit" class="btn btn-primary">작성</button>
  </form>
  <th:block th:if="${isMe} == ${post.get().getMember().getId()}">
  <button type="submit" class="btn btn-primary"><a th:href="@{/post/{id}/updatePost (id = ${post.get().getId()})}" style="color: white; text-decoration-line: none">게시글 수정</a></button>
  </th:block>
  </div>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
  </tr>
  </tbody>
</div> <!-- /container -->
</body>
</html>